name: Run tests

on: [push, pull_request]

jobs:

  build:
    name: Node
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        node: [16, 18]
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js v${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - run: npm ci
      - run: npm test

      - name: PKG versions
        run: |
          node -v
          npm -v
